@font-face {
  font-family: "custom-icon"; /* Project id 4938844 */
  src: url("data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALEAAsAAAAABpwAAAJ3AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHFQGYACCcAp0gQ8BNgIkAwgLBgAEIAWFCwctG+wFEdWLdbIfh7Fj+oEvLDdbauq0oSPxn4OI1rLqmQkRKgQFDCqSNgpY2IsCUvEPxIpIvb4GCBhY6/tuhpIRhimxt/z0HQns9KWfGwfX1E98euAD8I+NKqii6cFm01mCdVgU4SYy4z3E2+XayS5fggCuZCuhqmpqW/GcHVqYJ5QBmgXyVJmdmhjCWbNjMELIGcGRutIg+ziA2lAPwF78efklN2dQOGggo3G8epQr3y5wjLbsFvQH1nIVwnkKcAA0kA4MSGu/vx6NtNEaV70hVig1CHy7sNtDHXJoNaL+dZDsDkC4wD+TyBc/arICwKTtSSB30hJQoR4jW69fx7nhJtKjxP3g1SvXzRcvrJcve7YeXrWuPNh8dG31+uPU49yOtKLa/a629rY2Cy3t7Rf7RaYamVswlJc/tMDZaGVrrC21JtVWbQutCbVRBvxMn6h2BBC4f+cgZ8Cr6L+zmwHg82jdYawy0IzgvG+9wI+S9hIFjeMEZS4XhQDKEE3yKsAVXWAHZl+fpir8bigsuOF3W0YnInPQuJGAGjIbdSALUUeyBlxJ08QtNn4RjRgXINGeAEKgS1B4ch80gd6ihvyHOFA5oI5kGLhittfu5iaxtZOxA0fyf5qC7sJzEI4M3Uqv852HY3VmVGaeN1uehFZqq6YldOOdbb45+TN0gJCYbnRd9jxeV6VkOnNANQKpr2tpe0sVdCtODHOARcT7I5NA7STcBsEhA7Upe77njg0OK8f6G2jxvjHTJJM4GNKqNDT0JtmpNQ94TPYx6AAIImyanlxVFPmrlSKpfdiMBVAZJ3iTXo1CQpVU28q2/8mpDYBShTmjz/+iAAAA")
    format("woff2");
}

.custom-icon {
  font-family: "custom-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-icon-key:before {
  content: "\e7af";
}
